.main {
    padding-top: 120px;
    background-color: var(--primary);
    color: #fff;
    padding-bottom: 1rem;
}

.title {
    font-size: 2.3rem;
}

.desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    font-size: 1.1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    height: 7.5rem;
    overflow: hidden;
    margin-bottom: 0;
}
.desc a {
    color:#fff;
}

.avatar {
    height: max-content;
    -webkit-user-drag: none;
    border-radius: 15px;
}
.inputJoin {
    background: #ffffff;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    color: #ff4747;
    text-transform: uppercase;
    border: 3px solid #ffff;
}