.main {
    padding-top: 120px;
    background-color: var(--primary);
    color: #fff;
    padding-bottom: 1rem;
}

.title {
    font-size: 2.3rem;
}

.desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    height: 3rem;
    overflow: hidden;
    margin-bottom: 0;
}