.main {
    width: 100%;
    height: 100vh;
    background: url(../../Assets/Images/quiz/background.png);
    position: relative;
    background-size: cover;
}

.logo {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50px;
    -webkit-user-drag: none;
}

    
    /* ------------------------- tablets & mobile--------------------- */
    @media only screen and (max-width: 1023px){

        .main{
            height: fit-content;
                
            }
    }