.lab__list {
    width: 100%;
    padding: 0;
}

.lab__list + .lab__list {
    border-top: 1px solid #000;
    padding-top: 2rem;
}

.lab__title {
    border-radius: 20px;
}

.lab__title h3 {
    font-size: 1.6rem;
    font-weight: 600;
    padding: .5rem 2rem;
    vertical-align: middle;
    line-height: 1;
    margin: 0;
}

.lab__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.lab__icon {
    padding-right: 1rem;
    color: #a12d2d;
}

.lab__link {
    padding: 1rem 0;
    display: inline-block;
    color: var(--text);
}

.lab__link:hover {
    color: var(--text);
}

.lab__exp {
    background-color: #f8c219;
    padding: .1rem .5rem;
    border-radius: 3px;
    line-height: 1;
}