.main {
    background: linear-gradient(#fff, red);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 3em;
    position: relative;
}
.timer {
    width: 3.3rem;
}
.timer__param {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.quest__content {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}
.quest__number {
    margin-right: 2rem;
}

.answer__list {
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
}

.answer__item {
    width: 21%;
    height: 200px;
    padding: 0 2rem;
    position: relative;
}

.item__inner {
    border-radius: 20px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text);
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: 0.2s linear;
}

.item__inner:hover {
    background-color: var(--primary-light);
    color: #eee;
}
.item__innerActive {
    transform: scale(1.1);
    background-color: var(--primary-light);
    color: #eee;
}

.tag {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--primary-light);
    color: #fff;
    user-select: none;
}
