.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 10vw;
    transition: .3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 0 10px 0 var(--primary-light);
}

.logo {
    display: flex;
}

.logo img {
    height: 3.8vw;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.btn__show {
    display: none !important;
}

.item {
    margin: 0 2vw;
}

.item__link,
.login {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1vw;
    transition: .3s;
}

.item__link {
    color: var(--text);
    padding: .5vw;
    position: relative;
}


.item__link::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--primary-dark);
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 3px;
    opacity: 0;
}

.item__link:hover,
.item__link.active {
    color: var(--primary);
}

.active.item__link::after {
    opacity: 1;
}

.login {
    background-color: var(--primary);
    padding: 16px 32px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
    color: #fff;
}

.login::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg) translateY(-200%) translateX(10px) scaleY(4);
    transition: transform .3s linear;
}

.login:hover::after {
    transform: rotate(45deg) translateY(0) scaleY(4);
}

.login:hover {
    color: #fff;
}

#login__mobile {
    display: none;
}

.user {
    position: relative;
}

.user__icon {
    font-size: 1.6rem;
    color: var(--primary);
}

.user__info {
    position: absolute;
    background-color: #fff;
    width: max-content;
    max-width: none;
    padding: 1rem;
    transform: translateX(-50%) scale(0);
    transform-origin: 50% -10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 60px;
    left: 50%;
    filter: drop-shadow(0 0 5px var(--primary));
    z-index: -1;
    transition: .1s linear;
    opacity: 0;
    will-change: opacity, transform;
}

.user__info::before {
    content: '';
    display: block;
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
    bottom: 100%;
}

.user__info::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 100%;
    height: 50px;
    z-index: -1;
}

.user__info:hover,
.user__icon:hover~.user__info {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}

.user__name {
    font-size: 1rem;
    display: block;
    padding: .5rem 0;
    margin: 0;
}

.user__link {
    font-size: 1rem;
    padding: .5rem 0;
    color: var(--primary-dark);
}


/* ===================== TABLET & MOBILE CSS ===================== */
@media (max-width: 64em) {}

/* ========================== TABLET CSS ========================== */
@media (min-width: 48em) and (max-width: 64em) {
    .item__link {
        font-size: 1.5vw;
    }
}

/* ===================== MOBILE CSS ===================== */
@media (max-width: 48em) {
    .main {
        padding: 1vh 3vw;
    }

    .main.active {
        box-shadow: none;
    }

    .btn__show {
        display: block !important;
    }

    .logo img {
        height: 10vw;
    }

    .login,
    .login::after,
    .item__link::after {
        display: none;
    }

    .nav {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        height: 0;
        overflow: hidden;
        transition: height .2s ease-in-out;
        box-shadow: none;
    }

    .item {
        margin: 1vw 0;
    }

    .item__link,
    #login__mobile {
        display: block;
        padding: 8vw 10vw;
        font-size: 4.5vw;
    }

    #login__mobile {
        background-color: var(--primary-light);
        box-shadow: none;
    }
}