.main {
   display: flex;
   padding: 10vw 10vw 0;
   background-image: url(../../Assets/Images/bg-content__home.webp);
   background-size: cover;
   position: relative;
}

.intro {
   width: 30%;
   padding: 0 15px;
   color: var(--text);
   height: max-content;
}

.intro.laptopL {
   position: sticky;
   position: -webkit-sticky;
   top: 8vw;
}

.intro__title {
   font-size: 3rem;
   font-weight: 700;
}

.intro__content {
   font-size: 1.3rem;
   margin-top: 48px;
}

.course__list {
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   padding-left: 2vw;
}

.course__item {
   width: calc(100% / 3);
   padding: 10px;
}

.course__link {
   text-align: center;
   width: 100%;
   height: 100%;
   background-color: #fff;
   display: block;
   padding: 20px;
   border-radius: 10px;
   transition: 0.3s ease-in-out;
   display: flex;
   flex-direction: column;
}

.course__link:hover {
   transform: scale(1.02);
   box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.img__wrap {
   display: flex;
   align-items: center;
   border-radius: 10px;
   transition: 0.3s ease-in-out;
   flex: 1;
}

.course__link:hover .img__wrap {
   background-color: #eee;
}

.img {
   border-radius: 10px;
   object-fit: contain;
}

.item__title {
   font-size: 1.3rem;
   margin-top: 48px;
   color: var(--text);
}

/* ===================== TABLET & MOBILE CSS ===================== */
@media (max-width: 64em) {
   .main {
      flex-direction: column;
   }

   .intro {
      width: 100%;
      text-align: center;
   }

   .course__list {
      margin-top: 8vw;
   }

   .course__item {
      width: 100%;
   }

   .img__wrap {
      display: flex;
      justify-content: center;
      height: 60vh;
   }
   .img {
      height: 30vh;
   }
}

/* ========================== TABLET CSS ========================== */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .course__item {
      width: calc(100% / 2);
      padding: 10px;
   }
}

/* ===================== MOBILE CSS ===================== */
@media only screen and (max-width: 739px) {
   .main {
      padding: 10vw 0;
   }

   .intro__title {
      font-size: 10vw;
   }

   .intro__content {
      margin-top: 5vw;
   }

   .course__link {
      padding: 0;
   }

   .item__title {
      margin-bottom: 6vw;
      margin-top: 0;
   }
}
