footer {
  background:#eaefed;
}
.text-logo {
  font-weight: 700;
  font-size:45px;
  margin-left: -2px; 
}
.text-logo:hover,.text-logo {
  color:#bf1e2d;
}
ul.media-button, .slick-arrows-bot, .backTop,.social-login-form  {
    padding:0;
    display:flex;
    justify-content: center;
    gap: 15px;
  }
  li.media-button {
    list-style: none;
  }
  a.media-button ,.icon-button,.slick-custom-buttons ,.backTop , .social-login-form {
      width: 40px;
      height: 40px;
      display: block;
      text-align: center;
      border-radius: 50%;
      padding: 4px; 
      box-sizing: border-box;
      text-decoration: none;
      background: linear-gradient(0deg, #ddd, #fff);
      transition: .3s;
  }
  a.media-button:hover , .icon-button:hover, .slick-custom-buttons:hover ,.backTop:hover,.social-login-form:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  a.media-button svg  , .search svg,.burger-menu svg ,.slick-custom-buttons svg, .backTop svg,.social-login-form svg ,.user-icon svg{
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(45px - 12px);
    font-size: 16px;
    color: var(--main-color-content);
    transition: .3s;
    width: 30px;
    height: 30px ;
    padding: 6px;
  } 
  .search svg ,.burger-menu svg .slick-custom-buttons svg,  .backTop svg,.social-login-form{
      color:var(--main-color-content);
      fill: var(--main-color-content)
  }
  .footer {
    background-color: #131720;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
  }
  .footer:after {
    content: '';
    position: absolute;
    top: 0;
    height: 300px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background: linear-gradient(180deg, rgba(21,31,48,0.35) 0%, #131720 100%);
  }
  .footer .container {
    z-index: 2;
    position: relative;
  }
  .footer__flixtv {
    margin-top: 60px;
  }
  h6.footer__title{
    font-weight: 700;
    color:var(--main-color-content)
  }
  .darkmode h6.footer__title{ 
    color:var(--font-color-content-dark-mode)
  }
  .footer__tagline {
    margin-top: 20px;
    display: block;
    font-size: 13px;
    line-height: 21px;
    color: #e0e0e0;
    margin-bottom: 0;
  }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer__social a {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: relative;
    transition-property: all;
  }
  .footer__social a svg {
    width: 100%;
    height: auto;
  }
  .footer__social a:last-child {
    margin-right: 0;
  }
  .footer__social a:hover {
    opacity: 1 !important;
  }
  .footer__social:hover a {
    opacity: 0.4;
  }
  .footer__content {
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid rgba(47,128,237,0.1);
    color: var(--main-color-content)
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .footer__links a {
    font-size: 14px;
    color: var(--main-color-content);
    margin-right: 20px;
  }
  .footer__links a:last-child {
    margin-right: 0;
  }
  .footer__links a:hover {
    color: var(--main-color-content);
  }
  .footer__copyright {
    display: block;
    font-size: 13px;
    color:  var(--main-color-content);
    margin-top: 20px;
  }
  .darkmode .footer__copyright {
    color:  var(--four-color-content-dark-mode);
  }
  .footer__copyright a {
    color: #fff;
  }
  .footer__copyright a:hover {
    color: #2f80ed;
  }
  .footer__title {
    display: block;
    margin-top: 30px;
    font-size: 15px;
    color: var(--main-color-content); 
    font-weight: 800;
    margin-bottom: 15px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer__nav a {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    color: var(--third-color-content);
    font-weight: 600;
  }
 .darkmode .footer__nav a { 
    color: var(--main-color-content); 
  }
  .footer__nav a:last-child {
    margin-bottom: 0;
  }
  .footer__nav a:hover {
    color: var(--main-color-content);
  }
  @media (min-width: 768px) {
    .footer {
      padding: 40px 0;
    }
    .footer__content {
      margin-top: 25px; 
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .footer__flixtv {
      margin-top: 17px;
    }
    .footer__title {
      margin-top: 40px;
    }
    .footer__links {
      width: auto;
      order: 2;
    }
    .footer__copyright {
      margin-top: 0;
      order: 1;
    }
  }
  @media (min-width: 1200px) {
    .footer:after {
      height: 500px;
    }
    .footer__social {
      display: inline-flex;
      width: auto;
    }
    .footer__links a {
      margin-right: 30px;
    }
    .footer__links a:last-child {
      margin-right: 0;
    }
  }