.main {
    display: flex;
    margin: 10rem 0 2vh;
}

.wrap {
    margin: auto;
    width: 60%;
    display: flex;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(204, 204, 204, 0.5);
}

.input {
    width: 75%;
    font-size: 1rem;
    padding: .5vw 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 500;
}

.btn {
    flex: 1;
    display: inline-block;
    font-size: 1rem;
    background-color: var(--primary);
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
    color: #fff;
    transition: .3s ease-in-out;
}


.btn:hover {
    color: var(--text);
    box-shadow: 0 0 10px 0 var(--primary);
}

/* ================ RESPONSIVE CSS ================ */
@media (max-width: 64em) {
    .main {
        margin: 12vh 0 2vh;
    }

    .wrap {
        width: 80%;
        padding: 3vh 3vw;
    }
}

@media (max-width: 48em) {
    .main {
        margin: 15vh 0 2vh;
    }

    .wrap {
        width: 90%;
        padding: 3vh 5vw;
    }

    .input {
        padding: 1vh 3vw;
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1.2rem;
    }
}