.main {
    display: flex;
    background-image: url(../../Assets/Videos/Eduma-Preview.mp4);
    padding: 10vw 0 10vw;
}

.wrap {
    margin: auto;
    width: 60%;
    background-color: #eee;
    padding: 50px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.vid {
    border-radius: 20px;
}

/* ===================== TABLET & MOBILE CSS ===================== */
@media (max-width: 64em) {
    .wrap {
        padding: 1rem;
        width: 96%;
    }
}