.main {
    display: flex;
    background-image: url(../../Assets/Videos/Eduma-Preview.mp4);
    padding: 10vw 0 10vw;
}

.wrap {
    margin: auto;
    padding:20px;
    background-color: #eee;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center ;

}

.vid {
    border-radius: 10px;
}

/* ===================== TABLET & MOBILE CSS ===================== */
@media (max-width: 64em) {
    .wrap {
        padding: 1rem;
        width: 96%;
    }
}