/* ===================================================== IMPORT FONT ===================================================== */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

/* ======================================================= VARIABLE ======================================================= */
:root {
    --primary: #ff4747;
    --primary-light: #ff6f6f;
    --primary-dark: #a12d2d;
    --text: #353535;
}

/* ====================================================== RESET CSS ====================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Quicksand', serif;
}

a {
    text-decoration: none !important;
    color: var(--text);
}

ul {
    list-style: none;
    padding: 0;
}

table {
    border-collapse: collapse;
}

button,
input {
    border: none;
    outline: none;
}

/* ====================================================== RENGULAR ====================================================== */
html {
    will-change: scroll-position;
    scroll-behavior: smooth;
    position: relative;
    min-height: 100vh;
}