.list {
    width: 20%;
    padding: 1vw;
}

.item {
    background-color: var(--primary-dark);
    font-size: 1vw;
    font-weight: 500;
    margin: .6vw 0;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    will-change: transform;
    border-radius: 3px;
}

.item:hover {
    transform: translateX(10px);
}

.item__link {
    padding: 1vw;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}